* {
  box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="colx"] {
    width: 100%;
  }
}

.back-photo{
  background: url('../images/background.jpg')
}
#mainSection{
  margin: 0 auto;
  width: 350px;
  margin-top: 20px;
  font-family: sans-serif;
  text-align: center;
  background-color: RGBa(255, 255, 255, 45%);
  border-radius: 3px;
  padding-bottom: 5px;
  border: 1px outset #EAEAEA;
}
#mainSection input[type='text'], input[type='password']{
  padding: 2px;
  border: 1px outset #EAEAEA;
  margin: 3px;
  width: 300px;
  height: 25px;
  border-radius: 3px;

}
#componets{
  width: 80%;
}
#termosText{
  font-size:9px;

}
.title{
  font-family: 'Shadows Into Light', cursive;
  font-size: 32px;
}
.clone{
  color: #2A4B7C;
}
.buttons{
  display:block;
  border-radius: 3px;
  margin: 5px auto 10px;
  width: 300px;
  height:25px;
  background-color: #2A4B7C;
  text-align: center;
  text-decoration:none;
  color: white;
  font-weight:bold;
  line-height: 150%;
}
  .buttons-2{
      width: 130px;
  }


#startScreen{
  background: url('../images/background.jpg')
  background-color: #F2F2F2;
  background-repeat:repeat-y;
  background-size: cover;

}
