* {
  box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="colx"] {
    width: 100%;
  }
}

/*teste tabela colunas de fotos */
table, th, td {
  border: 1px solid black;
}
th, td{
  width: 33.33%;
}
/**/

.back-photo{
  background: url('../images/background.jpg');
  background-repeat:repeat-y;
  background-size: cover;
}
.erro{
  margin: 0 auto;
  width: 75%;
  font-size: 12px;
  background-color: RGBa(255, 255, 255, 80%);
  border-radius: 3px;
  color: red;
}
.mainSection{
  margin: 0 auto;
  margin-top: 20px;
  width: 25%;
  font-family: sans-serif;
  text-align: center;
  background-color: RGBa(255, 255, 255, 45%);
  border-radius: 3px;
  padding-bottom: 5px;
  border: 1px outset #EAEAEA;
}

img {
  width: 98%;
  height: auto;
}
.main_pub{
  margin: 0 auto;
  margin-top: 20px;
  width: 45%;
  font-family: sans-serif;
  text-align: center;
  background-color: RGBa(255, 255, 255, 55%);
  border-radius: 3px;
  padding-bottom: 5px;
  border: 1px outset #EAEAEA;
}
.main_pub_comment{
  margin-top: 2px;
  width: 90%;
  background-color: RGBa(255, 255, 255, 75%);
}

.mainSection input[type='text'], input[type='password']{
  padding: 2px;
  border: 1px outset #EAEAEA;
  margin: 3px;
  width: 75%;
  height: 25px;
  border-radius: 3px;
}
#componets{
  width: 80%;
}
#termosText{
  font-size:9px;

}
.title{
  font-family: 'Shadows Into Light', cursive;
  font-size: 32px;
}
.clone{
  color: #2A4B7C;
}

.buttons_large{
  display:block;
  border-radius: 3px;
  border: 0px;
  margin: 5px auto 10px;
  width: 75%;
  height:25px;
  background-color: #2A4B7C;
  text-align: center;
  text-decoration:none;
  color: white;
  font-weight:bold;
  line-height: 150%;
  cursor: pointer;
}
  .buttons_large-2{
      width: 35%;
  }
.buttons_search{ /*ARRUMAR*/
  display:block;
  float: right;
  position: sticky;
  border-radius: 3px;
  border: 0px;
  width: 25px;
  height:25px;
  margin: 0 auto;
  background-color: #2A4B7C;
  text-align: center;
  color: white;
  cursor: pointer;
}
.top_user_bar{
  background-color: RGBa(50,153,204, 45%);
  border-radius: 3px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#align_search_bar{
  margin: 0 auto;
  width: 25%;
}
#link_profile{
  display:block;
  border-radius: 3px;
  border: 0px;
  margin: auto 200%;
  width: 35%;
  height:25px;
  background-color: #2A4B7C;
  text-align: center;
  text-decoration:none;
  color: black;
  font-weight:bold;
  line-height: 150%;
  cursor: pointer;
}
.top_user_bar input[type='text']{
  padding: 2px;
  text-align: center;
  border: 1px outset #EAEAEA;
  margin: 3px;
  left: 41.66%;
  width: 350px;
  height: 20px;
  border-radius: 3px;
  position: sticky;
}
