* {
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="colx"] {
    width: 100%;
  }
}

#infos{
  margin: 0 auto;
  width: 350px;
  margin-top: 20px;
  width: 25%;
  text-align: center;
  border: 1px outset #EAEAEA;
}
#infos input[type='text'], input[type='email']{
  padding: 2px;
  border: 1px thin #EAEAEA;
  margin: 3px;
  width: 300px;
  height: 25px;
}

.tabela{
  margin: 0 auto;
}

.buttons{
  display:block;
  border-radius: 3px;
  border: 0px;
  margin: 5px auto 10px;
  width: 300px;
  height:25px;
  background-color: black;
  text-align: center;
  text-decoration:none;
  color: white;
  font-weight:bold;
  line-height: 150%;
  cursor: pointer;
}
